.main-header {
    background-color: #7bbee6;
    padding: 40px 5%;
    text-align: center;
}

.main-header h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    margin-bottom: 20px;
}

html, body {
    background-color: #c8d9e6;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color:#7bbee6;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 400%;
    padding: 5%;
}

nav {
     background-color: #4b99c7;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 5%;
    width:100%;
    height: 130px;
    position: relative;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible; 
}

#toggle {
    margin-top: auto;
    display: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.list {
    display: flex;
    gap: 20px;
    list-style: none;
}

.list a {
    display: block;
    text-transform: uppercase;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.list a:hover {
    border-bottom: 4px solid #675bf9;
}

.icon-bars {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 20;
}

.icon-bars .line {
    align-items:center;
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 1px 0;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding-top: 20px;
    }

    .icon-bars {
        display: flex;
        position: absolute;
        top: 30px;
        right: 5%;
    }

    .list {
        flex-direction: column;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
    }

    #toggle:checked ~ .list {
        max-height: 300px;
        flex-direction: column;
    }

    .list a {
        font-size: 20px;
        padding: 15px 20px;
    }
}

.wrapper {
  margin: 40px; /* Separación del borde de la página */
}

.grid-container {
  display: grid; /*Convierte un contenedor en una cuadrícula de diseño*/
  gap: 15px;
  grid-template-areas:
    "extra-top"
    "sidebar"
    "main"
    "extra-left"
    "extra-right"
    "footer";
}

/* Pantallas medianas o más anchas */
@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
      "extra-top    extra-top"
      "sidebar      main"
      "extra-left   extra-right"
      "footer       footer";
  }
}

.extra-top {
  grid-area: extra-top;
  background: #ffff;
  padding: 10px;
  border-radius: 8px;
}

.sidebar {
  grid-area: sidebar;
  background: #ffff;
  padding: 10px;
  border-radius: 8px;
}

.main {
  grid-area: main;
  background:  #ffff;
  padding: 10px;
  border-radius: 8px;
}

.extra-left {
align-items: center;
 grid-template-columns: 1fr 1fr; 
  grid-area: extra-left;
  background: #ffff;
  padding: 10px;
  border-radius:30px;
}

.extra-right {
  grid-area: extra-right;
   grid-template-columns: 1fr 1fr;
  background:  #ffff; /*color blanco para mayor profundidad*/
  padding: 30px;
  border-radius:8px; /*sirve para crear el borde de las cajas*/
}

.footer {
  grid-area: footer;
  background: #2f4156;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
}
